<section id="AboutBody" class="main">
  <!-- <H1 split-by="word" word-animation="trampoline"> -->
  <!-- <h1 split-by="word" word-animation="hover"> -->
  <!-- <h1 split-by="letter" letter-animation="hover" -->
  <h1 split-by="letter" letter-animation="breath">
    RangerTrak™ - tooling for ranging Rangers
  </h1>
  <h2>About</h2>
  <div>
    <p class="bold">Version {{version}}</p>
    <p>
      RangerTrak™ is an open-source application for tracking & mapping SAR, CERT, ACS, other teams,
      rangers & individuals roaming around, who are only reliably connected via HAM radio
      or other non-data supporting means. They can radio in their locations - in a variety
      of formats, and be centrally tracked.
    </p>
    <p>
      This should be able to function (with some degredation) even if the person using
      this is offline.
    </p>

    <p>Items requiring online access:</p>
    <ul>
      <li>GeoCoding an address</li>
      <li>Google maps</li>
      <li>OpenStreetMaps maps (for now)</li>
      <li>3Word functionality (for now)</li>
    </ul>

    <p>An overview of using location codes (instead of lat/long) can be found at:<br>
      <a href="https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems"
        target="_blank">https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems</a>
    </p>

    <p>
      eoc.online provides free tools for Emergency Operations Centers and emergency
      services. <br>
      For more information and <strong>to report issues</strong> please visit
      <a href="https://github.com/EOCOnline/RangerTrak" target="_blank">https://github.com/EOCOnline/RangerTrak</a>.
    </p>

    <details>
      <summary>Technologies</summary>
      <small>
        <ul>
          <li>Progressive Web App (PWA): After the initial load, installable & runs w/o Internet</li>
          <li>Angular 14 with TypeScript and Material Design</li>
          <li>Evergreen: runs latest stable packages</li>
          <li>Leaflet Maps with clustering + overview map + offline caching</li>
          <li>Angular Google Maps with clustering + overview map</li>
          <li>Observables and Observers</li>
          <li>Custom Angular Components, such as time picker, location widget</li>
          <li>Reactive Angular Forms</li>
          <li>Various geocode technologies: Google PlusCodes, What3Words, coordinate conversion</li>
          <li>Ag-grid based tables with searching, sorting, filtering, etc.</li>
          <li>No cookies, only uses LocalStorage</li>
          <li>Cross platform: Runs on any modern browser, using only standard HTML 5 & CSS 3</li>
          <br>
          <h5>FUTURE:</h5>
          <li>Data passed to servers (when internet connectivity allows) for remote display of data & maps</li>
          <li></li>
        </ul>
      </small>
    </details>
    <br>
    <details>
      <summary>©2022 <a href="https://eoc.online/" target="_blank">eoc.online</a>, under the MIT
        License</summary>
      <small>
        <p class="indented">
          Permission is hereby granted, free of charge, to any person obtaining a copy of
          this software and associated documentation files (the "Software"), to deal in
          the Software without restriction, including without limitation the rights to
          use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
          the Software, and to permit persons to whom the Software is furnished to do so,
          subject to the following conditions:
        </p>
        <p class="indented">
          The above copyright notice and this permission notice shall be included in all
          copies or substantial portions of the Software.
        </p>
        <p class="indented">
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
          FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
          COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
          IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
          CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
        <p class="indented">
          -- from
          <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a>
        </p>
      </small>
    </details>
  </div>
  <br />
  <div>
    <span class="bold">Menu Keyboard interaction</span><br />
    Keyboard shortcut - Action<br />
    Down Arrow - Focus the next menu item.<br />
    Up Arrow - Focus the previous menu item.<br />
    Left Arrow - Close the current menu if it is a sub-menu.<br />
    Right Arrow - Opens the current menu item's sub-menu.<br />
    Enter - Activate the focused menu item.<br />
    Escape - Close all open menus.<br />
  </div>
  <div class="imgCredit">Photo credit: Shocked Marmot from Vistapoint.net, by ___</div>
</section>
