<h1>RangerTrak.org</h1>
<h2>About</h2>
<br>
<div>
  <p>Version {{version}}</p>
  <p>This is a sample application for tracking & mapping CERT, ACS, other
    teams, rangers & individuals roaming around, who are only reliably
    connected via HAM radio or other non-data supporting means. They can
    radio in their locations - in a variety of formats, and be centrally tracked.</p>
  <p> This should be able to function (with some degredation) even if the person
    using this is offline also.</p>

  <p> Items requiring online access: </p>
  <ul>
    <li>GeoCoding an address</li>
    <li>All maps (for now)</li>
    <li>3Word functionality (for now)</li>
  </ul>


  <p>eoc.online provides free tools for Emergency Operations Centers and
    emergency services. For more information and <strong>to report
      issues</strong> please visit <a href="https://github.com/EOCOnline/RangerTrak" target="_blank">https://github.com/EOCOnline/RangerTrak</a>.</p>

  <details>
    <summary>©2022 eoc.online, under the MIT License</summary>
    <small>
      <p class="indented">Permission is hereby granted, free of charge, to any person obtaining a copy of this software
        and associated documentation files (the "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
        of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following
        conditions:</p>
      <p class="indented">The above copyright notice and this permission notice shall be included in all copies or
        substantial portions of the Software.</p>
      <p class="indented">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
        BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN
        NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
        AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
        OTHER DEALINGS IN THE SOFTWARE.</p>
      <p class="indented">-- from <a href="https://opensource.org/licenses/MIT"
          target="_blank">https://opensource.org/licenses/MIT</a></p>
    </small>
  </details>

</div>

<div>Menu Keyboard interaction<br>
  Keyboard shortcut - Action<br>
  Down Arrow - Focus the next menu item.<br>
  Up Arrow - Focus the previous menu item.<br>
  Left Arrow - Close the current menu if it is a sub-menu.<br>
  Right Arrow - Opens the current menu item's sub-menu.<br>
  Enter - Activate the focused menu item.<br>
  Escape - Close all open menus.<br>
</div>
