<rangertrak-page [title]="title" [description]="pageDescr">
  <div class="map-engine-switch">
    <label for="mapEngineSwitch">
      <input id="mapEngineSwitch" type="checkbox" [checked]="engine() === 'maplibre'"
        (change)="onEngineSwitchChanged($event)" />
      Use MapLibre + PMTiles Map - instead of Leaflet Map
    </label>
  </div>

  @if (engine() === 'leaflet') {
  <rangertrak-mapLeaflet></rangertrak-mapLeaflet>
  } @else if (maplibreComponentType(); as MaplibreEngine) {
  <ng-container *ngComponentOutlet="MaplibreEngine"></ng-container>
  }
</rangertrak-page>