.mood {
  border-radius: 15px;
  border: 1px solid grey;
  background: #e6e6e6;
  padding: 15px;
  text-align: center;
  display: inline-block;
  outline: none;
}

.default {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  padding: 4px;
}

.selected {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid lightgreen;
  padding: 4px;
}
