  <form class="example-form outerdiv">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Entry2</mat-label>
        <input matInput enabled aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" class="innerd">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
            <span>{{state.name}}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br>

      <mat-slide-toggle [checked]="stateCtrl.disabled"
        (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
        Disable Input?
      </mat-slide-toggle>
  </form>


  <!-- [formGroup]="entryDetailsForm" (ngSubmit)="onFormSubmit()"  -->
