# See http://help.github.com/ignore-files/ for more about ignoring files.

# API Keys
secrets.json
RangerTrak-secrets.json
./src/index.html

# personnel info
/src/assets/imgs/REW
/src/assets/data/ranger*.json

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# Old code
/archived

#Test and non-project stuff
/junk

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/docs
/src-extra
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
.env
node_modules
src/app/shared/policies.json
