<h2>Locations</h2>

@if (locations().length === 0) {
<p class="rt-locations-list__empty">
  No Locations placed yet - use the Add Location button on the Map page to place one.
</p>
} @else {
<table class="rt-locations-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Coordinates</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (loc of locations(); track loc.uid) {
    <tr>
      <td>{{ loc.name }}</td>
      <td>
        <span class="rt-locations-list__swatch" [style.background]="colorFor(loc.type)"></span>
        {{ loc.type }}
      </td>
      <td>{{ loc.lat.toFixed(5) }}, {{ loc.lng.toFixed(5) }}</td>
      <td class="rt-locations-list__actions">
        <button matButton type="button" (click)="onEdit(loc)">Edit</button>
        <button matButton type="button" (click)="onDelete(loc)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
