  .active {
    font-weight: bold;
    font-style: italic;
    // background-color: rgb(137, 208, 221);
  }

  .main-nav {
    display: flex;
    background: rgb(145, 195, 204);
    color: white;
    border-radius: 3px;
    padding: 1em;

    font-family: sans-serif;
  }
  .main-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
  }
  .main-nav li {
    margin-right: 2em;
  }
  .main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .main-nav input {
    flex: 1;
  }
  .main-nav button {
    background: white;
    border: 0;
    border-radius: 1em;
    color: orangered;
    padding: 0 1em;
    margin-left: .3em;
  }
  .main-nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
 @media screen and (max-width: 575px) {
   .main-nav {
     flex-direction: column;
   }
   .main-nav ul {
     flex-direction: row; /* Change this to 'column' to stack the links */
     margin-bottom: 1em;
   }
  }
