<!-- https://material.io/components/menus  -->

<nav class="main-nav">
  <span title="RangerTrak" style="margin-right:2em">
    <a href="RangerTrak.org" title="http://RangerTrack.org" target="_blank">
    <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
  </a>
  </span>
  <!-- TODO: How to highlight current page link?-->
  <ul>
  <li><a [routerLink]="['/']"> Home Entry</a></li>
  <li><a [routerLink]="['/gmap']">GoogleMap</a></li>
  <li><a [routerLink]="['/lmap']">LeafletMap</a></li>
  <li><a [routerLink]="['/reports']">Field Reports</a></li>
  <li><a [routerLink]="['/rangers']">Rangers</a></li>
  <li><a [routerLink]="['/settings']">Settings</a></li>
  <li><a [routerLink]="['/about']">About</a></li>
  <li><a [routerLink]="['/log']">Log</a></li>
  </ul>
  <form>
    <input type="search" placeholder="(Future) Search">
    <button>Go</button>
    <!--button (click)="Search()" type="search" placeholder="(Future) Search"> (Future) Search</button-->
  </form>
</nav>
<!--script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script-->
