<div fxLayout="row" fxLayoutAlign="space-between">
  <span fxFlex="20" class="title">{{parentTitle}}</span>
  <span fxFlex="40" class="event">{{eventInfo}}</span>
  <span fxFlex="30" class="opPeriod"
    >{{opPeriod}}: {{timeElapsed$ | async}} elapsed & {{timeLeft$ | async}} left</span
  >
  <!--span fxFlex="20" class="opPeriod"
    >{{(time.getTime() - opPeriodStart.getTime()) | async | date: 'hh:mm:ss'}}</span
  -->
  <span fxFlex="15" class="clock">{{timeCurrent | async | date: 'MMM d, hh:mm:ss'}}</span>
</div>
