.strong {
  font-weight: bold;
}

.map-container,
.map-frame {
  width: 100%;
}

#pmtiles-map {
  height: 500px;
  width: 100%;
}

#pmtiles-overview {
  position: relative;
  float: right;
  left: 0px;
  height: 175px;
  width: 175px;
  bottom: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map-hillshade-toggle {
  margin: 0.5rem 0;
}
