.big {
  font-size  : larger;
  font-weight: bold;
}

.strong {
  font-weight: bold;
}

.enter__Fake {
  // background-color: rgb(246, 247, 239);
  // border: 2px solid gray;
  //display: flex;
  //align-content: center;
  //align-items: center;
  //height: 205px;
  // width: 350px;

  //margin-right: 35vw;
  display         : block;
  //float: right;
  height          : 120px;
  width           : 30vw;
  border          : 1px solid brown;
  background-color: rgb(240, 255, 250);
  font            : 0.8em sans-serif;
}

#enter__Fake--slider {
  width: 20vw;
}

.enter__Fake--numfield {
  width       : 50px;
  height      : 30px;
  margin-right: 5px;
}

#enter__Fake--button {
  float       : right;
  margin-right: 10px;
}

.cell-fail {
  text-align      : center;
  font-weight     : bold;
  background-color: #f44336;
}

.cell-pass {
  text-align      : center;
  font-weight     : bold;
  background-color: #4caf50;
}
