.strong {
  font-weight: bold;
}

h1,
h2,
h3 {
  margin-top   : 20px !important;
  margin-bottom: 0px !important;
  font-weight  : 600 !important;
}

.eButton {
  width      : 80px;
  font-weight: bold;
  margin     : 30 px;
}

button {
  max-width: 300px;
}
