@use '@material/switch/styles';

body {
  margin: 0 1em;
}

.big {
  font-size  : larger;
  font-weight: bold;
}

#map2 {
  background-color: azure;
  width           : 80%;
  height          : 200px;
}

.strong {
  font-weight: bold;
}

/** Always set the map height explicitly to define the size of the div
  *  element that contains the map.
  */


/* Make the map fill the page
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
 */

#container,
#gmap {
  //height: 100%;
  width: 100%;
}

#gMap {
  position: relative;
}

#overviewMap {
  //position: absolute;
  position  : relative;
  float     : right;
  left      : 0px;
  height    : 175px;
  width     : 175px;
  bottom    : 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
