@use "@material/theme"
with ($primary: #962f10,
  $on-primary: #442C2E);
@use "@material/button";
@use "@material/button/styles";
@use "@material/banner";
//@use "@material/banner/styles";
// https://material.io/components/buttons/web#api

$filledColor : #F0F0F0;

.filled {
  background-color: $filledColor;
}

/*
// https://www.concretepage.com/angular-material/angular-material-radio-button#color
.rButton {
  border-color        : blue;
  // background-color: rgb(132, 151, 21); // of whole list
}

   // For outer circle
   .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color      : rgb(71, 223, 51);
  }

  // For inner circle
  //.mat-radio-checked
  .mat-radio-inner-circle {
      background-color: rgb(132, 151, 21);
  }

                      ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
    border-color      : rgb(13, 171, 219);
}

                      ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    background-color  : rgb(153, 58, 98);
}
*/

// https://popper.js.org/docs/v2/tutorial/
#tooltip {
  background   : #333;
  color        : white;
  font-weight  : bold;
  padding      : 4px 8px;
  font-size    : 13px;
  border-radius: 4px;
  display      : none;
}

#tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position  : absolute;
  width     : 8px;
  height    : 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content   : '';
  transform : rotate(45deg);
}


h1,
h2,
h3 {
  margin-top   : 15px;
  margin-bottom: 0px;
}

.bordered {
  border: 2 px solid rgb(62, 189, 189);
}

#addresses {
  width: 200px;
}

.strong {
  font-weight: bold;
}

.strongish {
  font-weight: 500;
}

// hide spinners
// https://www.codingtag.com/remove-arrows-from-input-type-number
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

// Specilly used for Firefox
input[type=number] {
  -moz-appearance: textfield;
}

.small {
  font-size: 12px;
}

.timepicker_When-input {
  width: 250px;
}

.enter__Status {
  padding             : 8px 0;
  //border            : 3px solid red;
  border-radius       : 4px;
  //width           : 650px;
  background-color    : $filledColor;
  line-height         : 35px;
  //margin            : 20px 0;
}

.bottomDrop {
  //padding      : 8px 0;
  //margin-top   : 20px;
  margin-bottom: 8px;

}

.eButton {
  //display: inline-block;
  width             : 80px;
  font-weight       : bold;
  //background-color: red;
  margin            : 30 px;
  //padding: 10px;
}

.elegant {
  margin-top   : 25px;
  margin-bottom: 0px;
}

.enter__form {
  margin     : 0px 10px 15px;
  min-width  : 160px;
  //max-width: 300px;
  width      : 100%;
}

.enter__Callsign {
  min-width: 350px;
  width    : 35%;
}

#enter__Callsign-image {
  margin   : 0 10px;
  font-size: small;
  display  : inline-block;
}

// Following doesn't work: do it in entry.component.ts!!!
.enter__Callsign-img {
  //height       : 50px;
  margin-bottom: -15px;
}

//@at-root   - matche the document's root element
#enter__Callsign-upshot {
  font-size: smaller;
  display  : inline-block;
}

.enter__Callsign-info {
  //display               : inline-block;
  width                     : 125px;
  //height                  : 160px;
  //margin-top          : 25px;
  //margin-bottom         : -25px;
  //padding               : 18px;
}

/*
[dir='rtl'] .enter__Callsign-img {
  margin-right: 0;
  margin-left : 8px;
}
*/

#enter__frm-reguritation2 {
  visibility      : hidden;
  margin-right    : 35vw;
  display         : block;
  float           : right;
  height          : 50px;
  width           : 10vw;
  border          : 3px solid brown;
  background-color: $filledColor;
  font            : 0.8em sans-serif;
}

.enter__What--note {
  margin-bottom: 0px;
}

.enter__What--area {
  border              : 1px dotted rgb(52, 28, 192);
  border-radius       : 6px;
  background-color    : $filledColor;
  //text-orientation: upright;
  //text-transform: capitalize;
  //float             : left;
  //margin-left       : 75px;
  //position          : absolute;
  //bottom:40px;
}

.enter__Submit-button {
  margin-left     : 10px;
  margin-top      : 0px;
  margin-bottom   : 10px;
  background-color: rgb(236, 252, 4);
}

#enter__Submit-info {
  margin       : 10px;
  border       : 1px rgb(204, 212, 90) solid;
  border-radius: 5px;
  opacity      : 0;
  animation    : fadeout 20s ease-out;
}

@keyframes fadeout {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
