h1,
h2,
h3 {
  margin-top   : 15px;
  margin-bottom: 0px;
}

button {
  display: inline-block;
  font-weight: bold;
  //background-color: red;
  margin: 6 px;
}

.elegant {
  margin-top   : 15px;
  margin-bottom: 0px;
}

.enter__form {
  margin: 0px 10px 25px;
  min-width: 160px;
  //max-width: 500px;
  width    : 100%;
}

.enter__Callsign {
  min-width: 350px;
  width: 30%;
}

.enter__Callsign-img {
  vertical-align: middle;
  margin-right  : 8px;
}

[dir='rtl'] .enter__Callsign-imgimg {
  margin-right: 0;
  margin-left : 8px;
}

#enter__Callsign-upshot {
  margin: 10px;
  font-size: small;
}

#enter__frm-reguritation {
  margin-right: 35vw;
  display: block;
  float: right;
  height: 160px;
  width: 15vw;
  border: 1px solid  brown;
  background-color: rgb(240, 255, 250);
  font: 0.8em sans-serif;
}

#enter__SmallMap {
  display: block;
  float: right;
  height: 35vh;
  width: 40vw;
  border: 1px brown;
  background-color: aliceblue;
}

.enter__What--note {
  margin-bottom: 120px;
}

.enter__What--area {
  border: 1px dotted rgb(52, 28, 192);
  //text-orientation: upright;
  //text-transform: capitalize;
  float: left;
  margin-left: 75px;
  position:absolute;
  //bottom:40px;
}

.enter__Submit-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(204, 212, 90);
}

#enter__Submit-info {
  margin   : 10px;
  border   : 1px rgb(204, 212, 90) solid;
  border-radius: 5px;
  opacity  : 0;
  animation: fadeout 15s ease-out;
}

@keyframes fadeout {
  0% {opacity: 1}
  100% {opacity: 0}
}

.enter__Fake {
 // background-color: rgb(246, 247, 239);
 // border: 2px solid gray;
  //display: flex;
  //align-content: center;
  //align-items: center;
  height: 125px;
  width: 300px;

  margin-right: 35vw;
  display: block;
  float: right;
  height: 120px;
  width: 15vw;
  border: 1px solid  brown;
  background-color: rgb(240, 255, 250);
  font: 0.8em sans-serif;
}

.enter__Fake--slider {
  margin-top: -20px;
}

.enter__Fake--numfield {
  width: 75px;
  height:30px;
  margin-right: 10px;
}

#enter__Fake--slider {
  width: 200px;
  margin-top: 40px;
}

#enter__Fake--button {
  float: right;
  margin-right: 20px;
}
