h1,
h2,
h3 {
  margin-top: 15px;
  margin-bottom: 0px;
}

.elegant
{
  margin-top: 15px;
  margin-bottom: 0px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
.enter__What--note {
  margin-bottom: 120px;
}

.enter__What--area {
  border: 1px dotted  rgb(52, 28, 192);
  //text-orientation: upright;
  //text-transform: capitalize;
  float:right;
  //position:relative;
  //bottom:40px;
}

.enter__Submit {
  margin-top: 20px;
  background-color: rgb(204, 212, 90);
}
