<div class="container">
  <form
    #frm="ngForm"
    [formGroup]="entryDetailsForm"
    (ngSubmit)="onFormSubmit(frm.value)"
    class="enter__form"
  >
    <rangertrak-mini-lmap>LMAP HERE</rangertrak-mini-lmap>
    <!--rangertrak-mini-gmap>GMAP HERE</rangertrak-mini-gmap-->

    <pageHeader [parentTitle]="title">...</pageHeader>
    <h2 class="elegant">
      <mat-label>Who</mat-label>
    </h2>

    <!--  https://material.angular.io/components/autocomplete/examples#autocomplete-overview
    https://www.wufoo.com/html5/tabindex-attribute/ -->
    <mat-form-field class="enter__Callsign" appearance="fill">
      <mat-label>CallSign</mat-label>

      <input
        matInput
        [formControl]="callsignCtrl"
        type="text"
        placeholder="Pick one"
        aria-label="Callsigns"
        formControlName="callsign"
        [matAutocomplete]="auto"
        (change)="this.CallsignCtrlChanged()"
        id="enter__Callsign-input"
        tabindex="1"
        data-lpignore="true"
      />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let ranger of filteredRangers | async"
          [value]="ranger.callsign"
        >
          <!--img class="enter__Callsign-img" aria-hidden [src]="ranger.image" height="40"-->
          <span>{{ranger.callsign}}</span> |
          <small> {{ranger.licensee}} | {{ranger.phone}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <span id="enter__Callsign-upshot"></span>

    <!-- br>ToDo: [Future: Maybe only enter Team OR Callsign. If team, then ALL TeamMembers get checked in all at once???]  >
    <div #div1 class="input-group">Team:
      <input [class.border-danger]="entryDetailsForm.get('team')?.touched && entryDetailsForm.get('team')?.invalid"
        type="text" formControlName="team" placeholder="Team">
      <div *ngIf="entryDetailsForm.get('team')?.touched && entryDetailsForm.get('team')?.hasError('required')"
        class="text-sm text-danger">Team is required</div>
    </div -->

    <br />

    <!--svg version="1.1" viewBox="0 0 24 24" style="display:inline-block;width:1.5rem">
      <path [attr.d]="data" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" />
  </svg-->
    <!-- icons:  https://dev.materialdesignicons.com/getting-started/angular
      https://iconify.design/
      https://dev.materialdesignicons.com/getting-started
      style="width:15px;height:15px"
      {{mdiAccount}} dddfdd {{mdiIformationOutline}}
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
    -->

    <!-- https://fontawesome.com/v5.15/icons
<img src="../../assets/icons/information-outline.png"
    icon path="mdiAccount"></icon>
  <icon path="mdiInformationOutline"></icon-->

    <!--onchange="DDCoordsChanged()"
      {{lat | number:'1.4-5'}}
      {{entryDetailsForm.get(lat) | number:'1.4-5'}}



      https://material.angular.io/components/icon/examples
    -->
    <!--mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon>
    <mat-icon aria-hidden="false" aria-label="info icon">hiking</mat-icon>
    <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="thumbs up SVG icon"></mat-icon>thumbsup
    <span class="material-icons-two-tone">info</span-->

    <div formGroupName="locationFrmGrp">
      <!--div>
        <label>address</label>
        <input type="text" formControlName="address">
        <div *ngIf="entryDetailsForm.get('address')?.touched && entryDetailsForm.get('address')?.hasError('required')"
          class="text-sm text-danger">bad address</div>
      </div-->

      <!-- from Majd Asab in Medium.com...
   [(ngModel)]="extLocation"
 name="extLocationVal"
 #validations=""ngModel"
-->

      <!--

  Error: Uncaught (in promise): InvalidCharacterError: Failed to execute 'setAttribute' on 'Element': '[location' is not a valid attribute name.
Error: Failed to execute 'setAttribute' on 'Element': '[location' is not a valid attribute name.
location as FormGroup does compile, but above run-time error...
-->

      <rangertrak-location #NeuvoLocation></rangertrak-location>

      <!--

              [parentLat]="latDD"
        [parentLng]="lngDD"


        rangertrak-location [location as FormGroup]="entryDetailsForm.get('location')"></rangertrak-location-->
      <!--rangertrak-location [group]="entryDetailsForm.get('location')"></rangertrak-location-->
      <!-- (property) LocationComponent.group: FormGroup | null
Type 'AbstractControl | null' is not assignable to type 'FormGroup | null'.-->

      <!--rangertrak-location [location]="entryDetailsForm.get('location')"></rangertrak-location-->
      <!--rangertrak-location [locationForm]="entryDetailsForm.get('location')"></rangertrak-location-->

      <!--div>
        <label>lat</label>
        <input type="number" formControlName="lat">
        <div *ngIf="entryDetailsForm.get('lat')?.touched && entryDetailsForm.get('lat')?.hasError('required')"
          class="text-sm text-danger">bad lat</div>
      </div>

      <div>
        <label>langt</label>
        <input type="number" formControlName="lng">
        <div *ngIf="entryDetailsForm.get('lng')?.touched && entryDetailsForm.get('lng')?.hasError('required')"
          class="text-sm text-danger">bad lng</div>
      </div-->
    </div>

    <h2 class="elegant">
      <mat-label>When</mat-label>
    </h2>

    <div class="input-group">
      <!-- https://stackoverflow.com/questions/64826483/ngxmatdatetimepicker-is-not-assignable-to-type-matdatepickerbase -->
      <mat-form-field appearance="fill">
        <mat-label>Report time</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="$any(datePicker)"
          [min]="minDate"
          [max]="maxDate"
          [formControl]="dateCtrl"
          formControlName="date"
          [class.border-danger]="entryDetailsForm.get('date')?.touched && entryDetailsForm.get('date')?.invalid"
          type="datetime"
          placeholder="date"
          id="enter__When-input"
          data-lpignore="true"
          tabindex="6"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="$any(datePicker)"
          title="Click me to display the picker"
        >
        </mat-datepicker-toggle>

        <ngx-mat-datetime-picker
          #datePicker
          [showSpinners]="showSpinners"
          [showSeconds]="showSeconds"
          [stepHour]="stepHour"
          [stepMinute]="stepMinute"
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
          [disableMinute]="disableMinute"
          [hideTime]="hideTime"
        >
          <!-- Custom icon or text of Apply icon -->
          <ng-template>
            <!--mat-icon>star</mat-icon-->
            <span>OK</span>
          </ng-template>
        </ngx-mat-datetime-picker>

        <div
          *ngIf="entryDetailsForm.get('date')?.touched && entryDetailsForm.get('date')?.hasError('required')"
          class="text-sm text-danger"
        >
          date is required
        </div>
      </mat-form-field>
    </div>

    <h2 class="elegant bordered">What</h2>

    <div class="input-group bordered">
      <mat-label>Status:</mat-label>
      <mat-radio-group
        labelPosition="after"
        formControlName="status"
        [class.border-danger]="entryDetailsForm.get('status')?.touched && entryDetailsForm.get('status')?.invalid"
        tabindex="7"
      >
        <mat-radio-button
          *ngFor="let stat of fieldReportStatuses"
          value="{{stat.status}}"
          class="rButton"
          ><span style="color:{{stat.color}}"> {{stat.status}} </span>&nbsp;&nbsp;&nbsp;
          <!-- Disabling intelephense.diagnostics.embeddedLanguages -->
        </mat-radio-button>
      </mat-radio-group>

      <div
        *ngIf="entryDetailsForm.get('status')?.touched && entryDetailsForm.get('status')?.hasError('required')"
        class="text-sm text-danger"
      >
        Status is required
      </div>
      <br /><br />
      <textarea
        class="input-group enter__What--area"
        formControlName="note"
        id="enter__What--area"
        cols="80"
        rows="5"
        placeholder="Enter Any Notes"
        tabindex="8"
      ></textarea>
    </div>

    <!-- TODO: Add h4> Keywords</h4>
    <div formArrayName="keywords">
      <div *ngIf="keywordsControls && keywordsControls.length">
        <div *ngFor="let keywordControl of keywordsControls; let i = index">
          <div class="input-group">
            <input [class.border-danger]="keywordControl.touched && keywordControl.invalid" [formControlName]="i"
              type="text" placeholder="keyword" />
            <div *ngIf="keywordControl.touched && keywordControl.hasError('required')" class="text-sm text-danger">
              keyword Name is required</div>
          </div>
          <hr>
        </div>
      </div>
    </div-->

    <br />
    <br />
    <!--button (click)="onBtnUpdateLocation()">Update location</button> <br-->
    <!--button (click)="this.entryDetailsForm.reset()" type="reset">Reset (native)</button> <br-->
    <button
      (click)="resetForm()"
      title="Reset all form fields to their defaults"
      class="eButton"
      type="button"
    >
      Reset
    </button>

    <button
      class="enter__Submit-button eButton"
      [disabled]="entryDetailsForm.invalid"
      type="submit"
      tabindex="9"
    >
      Submit
    </button>

    <span id="enter__Submit-info"></span>

    <div class="margin-20">
      <div>entryForm details:-</div>
      <pre>Is entryForm valid?: <br>{{entryDetailsForm.valid | json}}</pre>
      <pre>form value: <br>{{entryDetailsForm.value | json}}</pre>
    </div>
  </form>
</div>

<!--
<fieldset>
      <legend>Where</legend>
      Street Address, +Code, or What3Words (optional): <input name="addresses" id="addresses" type="text" size="15"
        value="" placeholder="" title="Enter www.Plus.Codes, www.What3Words.com, or streeet address for geocoding."
        onchange="chkAddresses()">
      <placeholder="84VVCGWP+VW" title ="Enter short or full PlusCode" placeholder="pil.tutles.binde">
      <span id="addressLabel" value=""></span>
      <span id="pCodeGlobal"></span>
      <br>
      Latitude: &nbsp;&nbsp;
      <input name="latitudeQ" id="latitudeQ" type="text" value="N" size="1" pattern="'e','E','w','W'" title="E or W"
        onchange="DMSCoordsChanged()"> <!- Quadrant ->
      <input name="latitudeD" id="latitudeD" type="text" value="47" size="2" min="0" max="180" onchange="DMSCoordsChanged()">°
      <input name="latitudeM" id="latitudeM" type="text" value="" size="2" min="0" max="59" onchange="DMSCoordsChanged()">'
      <input name="latitudeS" id="latitudeS" type="text" value="" size="5" min="0" max="59.99" onchange="DMSCoordsChanged()">"
      &nbsp;&nbsp; or &nbsp;&nbsp;<input name="latitudeDD" id="latitudeDD" type="text" size="7" min="-180" max="180"
        onchange="DDCoordsChanged()">°
      <br>
      Longitude:
      <input name="longitudeQ" id="longitudeQ" type="text" value="W" size="1" pattern="'n','N','s','S'" title="N or S"
        onchange="DMSCoordsChanged()">
      <input name="longitudeD" id="longitudeD" type="text" value="122" size="2" max="180" onchange="DMSCoordsChanged()">°
      <input name="longitudeM" id="longitudeM" type="text" value="" size="2" min="0" max="59" onchange="DMSCoordsChanged()">'
      <input name="longitudeS" id="longitudeS" type="text" value="" size="5" min="0" max="59.99"
        onchange="DMSCoordsChanged()">"
      &nbsp;&nbsp; or &nbsp;&nbsp;<input name="longitudeDD" id="longitudeDD" type="text" size="7" min="-180" max="180"
        onchange="DDCoordsChanged()">°
      <br>
    </fieldset>
-->

<!--div id="enter__frm-reguritation">
      <pre>{{ frm.value |json}}</pre>
    </div-->
