<!-- https://popper.js.org/docs/v2/tutorial/ -->

<!--  TODO: onclick="onWhereInfo() -->
<!--div id="tooltip" role="tooltip">
  My tooltip: Instructions for how to enter location into RangerTrak: Enter Lat & Lng as
  decimal values or DMS, OR as an address - which will update/REPLACE the coordinates!
  <div id="arrow" data-popper-arrow></div>
</div-->

<!--
(change)="this.addressCtrlChanged('latI')"
<!- formControlName="lat": MUST be element in Location Form Group!
[FormControl]="latI"
-->
<div class="container enter__Where-div">
  <!-- (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" -->
  <form appearance="filled" class="enter__Where-input" [formGroup]="locationFormModel">
    <div class="input-group">
      &nbsp;&nbsp;&nbsp;Latitude:

      <span formGroupName="DD">
        <input #latI formControlName="latI"
          (change)="onDdChg(latI.valueAsNumber, latF.valueAsNumber, lngI.valueAsNumber, lngF.valueAsNumber)"
          type="number" min="-180" max="180" id="enter__Where-latI" />

        <!--span *ngIf="location.get('latI')?.touched && location.get('latI')?.hasError('required')"
    class="text-sm text-danger">lat is required

      [class.border-danger]="location.get('latD')?.touched && location.get('latD')?.invalid"
      (change)="this.addressCtrlChanged('latD')"
        </span-->
        <strong>.</strong>
        <input #latF formControlName="latF"
          (change)="onDdChg(latI.valueAsNumber, latF.valueAsNumber, lngI.valueAsNumber, lngF.valueAsNumber)"
          type="number" (change)="onDdChg()" step="100" min="0" max="99999" id="enter__Where-latF" tabindex="2" />
        <!-- span *ngIf="location.get('latD')?.touched && location.get('latD')?.hasError('required')"
    class="text-sm text-danger">Latitude is required
    </span-->
        <strong>° </strong>
      </span>

      <span title="Decimal Degrees"><strong>DD</strong></span>&nbsp; or &nbsp;
      <span formGroupName="DMS">
        <!-- BUG: why no ValueAsNumbers for these?! -->
        <input #latD formControlName="latD" id="enter__Where-latD"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="90" /><strong>° </strong>
        <input #latM formControlName="latM" id="enter__Where-latM"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="59" /><strong>' </strong>
        <input #latS formControlName="latS" id="enter__Where-latS"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="59.99" /><strong>" </strong>
        <input #latQ formControlName="latQ" id="enter__Where-latQ"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="text" pattern="'e','E','w','W'" title="E or W" />
        <span title="Degrees Minute Seconds"><strong>DMS</strong></span>&nbsp; or &nbsp;
      </span>

      <span formGroupName="DDM">
        <input #latDDMD formControlName="latDDMD" id="enter__Where-latDdmD"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="number" min="0" max="90" /><strong>° </strong>
        <input #latDDMM formControlName="latDDMM" id="enter__Where-latDdmM"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="number" min="0" max="59" /><strong>' </strong>
        <input #latDDMQ formControlName="latDDMQ" id="enter__Where-latDdmQ"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="text" pattern="'e','E','w','W'" title="E or W" />
        <span title="Degree Decimal Minutes"><strong>DDM</strong></span>
      </span>
    </div>

    <div class="input-group">
      Longitude:

      <span formGroupName="DD">
        <input #lngI formControlName="lngI"
          (change)="onDdChg(latI.valueAsNumber, latF.valueAsNumber, lngI.valueAsNumber, lngF.valueAsNumber)"
          type="number" min="-180" max="180" id="enter__Where-lngI" /><strong>.</strong>
        <input #lngF formControlName="lngF"
          (change)="onDdChg(latI.valueAsNumber, latF.valueAsNumber, lngI.valueAsNumber, lngF.valueAsNumber)"
          type="number" step="100" min="0" max="99999" id="enter__Where-lngF" tabindex="4" />
        <strong>° </strong><span title="Decimal Degrees"><strong>DD</strong></span>&nbsp; or &nbsp;
      </span>

      <span formGroupName="DMS">
        <input formControlName="lngD" id="enter__Where-lngD"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="90" /><strong>° </strong>
        <input formControlName="lngM" id="enter__Where-lngM"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="59" /><strong>' </strong>
        <input formControlName="lngS" id="enter__Where-lngS"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="number" min="0" max="59.99" /><strong>" </strong>
        <input formControlName="lngQ" id="enter__Where-lngQ"
          (change)="onDmsChg(latQ.value, latD.valueAsNumber, latM.valueAsNumber, latS.valueAsNumber,  lngQ, lngD, lngM, lngS)"
          type="text" pattern="'n','N','s','S'" title="N or S" />
        <span title="Degrees Minute Seconds"><strong>DMS</strong></span>&nbsp; or &nbsp;
      </span>

      <span formGroupName="DDM">
        <input #lngDDMD formControlName="lngDDMD" id="enter__Where-lngDdmD"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="number" min="0" max="90" /><strong>° </strong>
        <input #lngDDMM formControlName="lngDDMM" id="enter__Where-lngDdmM"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="number" min="0" max="59" /><strong>' </strong>
        <input #lngDDMQ formControlName="lngDDMQ" id="enter__Where-lngDdmQ"
          (change)="onDdmChg(latDDMQ.value, latDDMD.valueAsNumber, latDDMM.valueAsNumber, lngDDMQ.value, lngDDMD.valueAsNumber, lngDDMM.valueAsNumber)"
          type="text" pattern="'n','N','s','S'" title="N or S" />
        <span title="Degree Decimal Minutes"><strong>DDM</strong></span>
      </span>
    </div>

    Street Address,
    <a href="https://maps.google.com/pluscodes/" target="_blank">+Code</a>,&nbsp; or &nbsp;
    <a href="https://what3words.com/about/" target="_blank">What.3.Words</a>:

    <input #address type="text" id="enter__Where-Address" (change)="onAddressChg(address.value)" tabindex="5"
      title="Enter www.Plus.Codes, www.What3Words.com, or streeet address for geocoding." placeholder="Optional Address"
      formControlName="address" data-lpignore="true" />
  </form>

  <div class="enter__Where-Results">
    <!--   {{address}}
      formControlName="address"
      input name="addresses" id="addresses" type="text" value=""
      placeholder="" title="Enter www.Plus.Codes, www.What3Words.com, or streeet address for geocoding."
      onchange="chkAddresses()"> (optional) -->
    <!-- placeholder="84VVCGWP+VW" title ="Enter short or full PlusCode" placeholder="pil.tutles.binde"-->

    Derived Locations: <span id="addressLabel" title="Normalized Address" value="">Address:</span>&nbsp;;
    &nbsp;<span id="pCodeGlobal" title="Global (Google) Plus Code">pCodeGlobal:</span>;
    &nbsp;<span id="what3Words" title="What3Words">What3Words:</span>
  </div>

</div>



<!--br-->

<!--div class="input-group"><span class="strongish">Derived Addresses:</span>
      <div id="top3wa">&nbsp;&nbsp;&nbsp;Top 3 word address match: </div>
      <div id="coords">&nbsp;&nbsp;&nbsp;WGS84 Coordinates: </div>
      <div id="nearest_place">&nbsp;&nbsp;&nbsp;Nearest Place: </div>
      <div>&nbsp;&nbsp;&nbsp;Derived Address: <span id="derivedAddress" #derivedAddress>WA locale; Full code: +Code:
          8VCWVF22+</span>
      </div>

  <!- -script type="module"
    src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.esm.js"></script>
  <script nomodule
    src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.js?key=YOUR-API-KEY"></script- ->

  <!- -form id="form" method="GET"- ->
  <div id="what3words-autosuggest">
    <!- -what3words-autosuggest- ->
    &nbsp;&nbsp;&nbsp;what3words-autosuggest: <input type="text" />
    <!- -/what3words-autosuggest- ->
  </div>
  <!- -/form- ->
  </div-->
