<div class="container enter__Where-div">
  <form appearance="filled" class="enter__Where-input" [formGroup]="locationFormModel">


    <!------------------------------------------------------------>
    <div class="input-group">
      &nbsp;&nbsp;&nbsp;Latitude:


      <span formGroupName="DD">
        <input #latI formControlName="latI" type="number" (change)="onDdChg()" min="-180" max="180"
          id="enter__Where-latI" />

        <!--span *ngIf="location.get('latI')?.touched && location.get('latI')?.hasError('required')"
          class="text-sm text-danger">lat is required
          [class.border-danger]="location.get('latD')?.touched && location.get('latD')?.invalid"
        </span-->

        <strong>.</strong>
        <input #latF formControlName="latF" type="number" (change)="onDdChg()" step="100" min="0" max="99999"
          id="enter__Where-latF" tabindex="2" />
        <strong>° </strong>
      </span>
      <span title="Decimal Degrees"><strong>DD</strong></span>&nbsp; or &nbsp;

      <span formGroupName="DDM">
        <input #latDdmD formControlName="latDdmD" id="enter__Where-latDdmD" type="number" min="0" max="90"
          (change)="onDdmChg()" /><strong>°
        </strong>
        <input #latDdmM formControlName="latDdmM" id="enter__Where-latDdmM" type="number" min="0" max="59"
          (change)="onDdmChg()" /><strong>'
        </strong>
        <input #latDdmQ formControlName="latDdmQ" id="enter__Where-latDdmQ" type="text" pattern="'e','E','w','W'"
          title="E or W" (change)="onDdmChg()" />
        <span title="Degree Decimal Minutes"><strong>DDM</strong></span>&nbsp; or &nbsp;
      </span>


      <span formGroupName="DMS">
        <input #latD formControlName="latD" id="enter__Where-latD" type="number" min="0" max="90"
          (change)="onDmsChg()" /><strong>° </strong>
        <input #latM formControlName="latM" id="enter__Where-latM" type="number" min="0" max="59"
          (change)="onDmsChg()" /><strong>' </strong>
        <input #latS formControlName="latS" id="enter__Where-latS" type="number" min="0" max="59.99"
          (change)="onDmsChg()" /><strong>"
        </strong>
        <input #latQ formControlName="latQ" id="enter__Where-latQ" type="text" pattern="'e','E','w','W'" title="E or W"
          (change)="onDmsChg()" />
        <span title="Degrees Minute Seconds"><strong>DMS</strong></span>
      </span>
    </div>


    <!------------------------------------------------------------>
    <div class="input-group">
      Longitude:


      <span formGroupName="DD">
        <input #lngI formControlName="lngI" type="number" min="-180" max="180" id="enter__Where-lngI"
          (change)="onDdChg()" /><strong>.</strong>
        <input #lngF formControlName="lngF" type="number" step="100" min="0" max="99999" id="enter__Where-lngF"
          tabindex="4" (change)="onDdChg()" />
        <strong>° </strong><span title="Decimal Degrees"><strong>DD</strong></span>&nbsp; or &nbsp;
      </span>


      <span formGroupName="DDM">
        <input #lngDdmD formControlName="lngDdmD" id="enter__Where-lngDdmD" type="number" min="0" max="90"
          (change)="onDdmChg()" /><strong>°
        </strong>
        <input #lngDdmM formControlName="lngDdmM" id="enter__Where-lngDdmM" type="number" min="0" max="59"
          (change)="onDdmChg()" /><strong>'
        </strong>
        <input #lngDdmQ formControlName="lngDdmQ" id="enter__Where-lngDdmQ" type="text" pattern="'n','N','s','S'"
          title="N or S" (change)="onDdmChg()" />
        <span title="Degree Decimal Minutes"><strong>DDM</strong></span>&nbsp; or &nbsp;
      </span>


      <span formGroupName="DMS">
        <input formControlName="lngD" id="enter__Where-lngD" type="number" min="0" max="90"
          (change)="onDmsChg()" /><strong>° </strong>
        <input formControlName="lngM" id="enter__Where-lngM" type="number" min="0" max="59"
          (change)="onDmsChg()" /><strong>' </strong>
        <input formControlName="lngS" id="enter__Where-lngS" type="number" min="0" max="59.99"
          (change)="onDmsChg()" /><strong>" </strong>
        <input formControlName="lngQ" id="enter__Where-lngQ" type="text" pattern="'n','N','s','S'" title="N or S"
          (change)="onDmsChg()" />
        <span title="Degrees Minute Seconds"><strong>DMS</strong></span>
      </span>
    </div>



    <!------------------------------------------------------------>
    Street Address,
    <a href="https://maps.google.com/pluscodes/" target="_blank">+Code</a>, or
    <a href="https://what3words.com/about/" target="_blank">What.3.Words</a>:

    <input #address type="text" id="enter__Where-Address" tabindex="5"
      title="Optionally enter www.Plus.Codes, www.What3Words.com, or streeet address for geocoding."
      formControlName="address" data-lpignore="true" (change)="onAddressChg()" />
  </form>


  <!------------------------------------------------------------>
  <div class="enter__Where-Results">
    <!-- https://nikitahl.com/horizontal-rule-css -->
    <hr>
    <!--Derived Locations: -->
    <span id="derivedAddress" title="Normalized Address">Address:</span><br>
    <span id="pCodes" title="Global & short (Google) Plus Codes">+Codes:</span><br>
    <span id="what3Words" title="What3Words">What3Words:</span>
  </div>
</div>

<!--
        div id="top3wa">&nbsp;&nbsp;&nbsp;Top 3 word address match: </div>
      <div id="coords">&nbsp;&nbsp;&nbsp;WGS84 Coordinates: </div>
      <div id="nearest_place">&nbsp;&nbsp;&nbsp;Nearest Place: </div>
      <div>&nbsp;&nbsp;&nbsp;Derived Address: <span id="derivedAddress" #derivedAddress>WA locale; Full code: +Code:
          8VCWVF22+</span>
      </div-->
