.lmap-container {
  display               : block;
  float                 : right;
  //width             : 35vw; // 30vw;
  //height          : 25vh; //200px !important; //
  //border              : 5px brown;
  background-color      : #F0F0F0;
  margin-right          : 10px;
  padding               : 4px;
  border-radius         : 5px;
}

.lmap-frame {
  border  : 2px solid black;
  //height: 20vh; //100%;
  width   : 100%;
}

#map {
  height: 35vh; //100%;
}

.strong {
  font-weight: bold;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

// https://www.w3.org/TR/CSS21/ui.html#propdef-cursor

#Entry__GMinimap-subhead {
  font-size: x-small;
  color    : #999;
  float    : right;
  margin   : 0 5px;
}

#Entry__Minimap-status {
  // color    : #888;
  opacity  : 0;
  animation: fadeout 12s ease-out;
  // TODO: Need to reset annimation see Entry form...
}

@keyframes fadeout {
  0% {
    opacity: 1
  }

  25% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
