.lmap-container {
  display               : block;
  float                 : right;
  //width             : 35vw; // 30vw;
  //height          : 25vh; //200px !important; //
  //border              : 5px brown;
  background-color      : #F0F0F0;
  margin-right          : 16px;
  border-radius         : 5px;
  border                : 2px solid black;
}

.lmap-frame {
  //height: 20vh; //100%;
  width: 100%;
}

#map {
  height: 35vh; //100%;
}

.strong {
  font-weight: bold;
}

.small {
  font-size: x-small;
  color    : #AAA;
}

#Entry__LMinimap-debug {
  visibility: hidden;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

.Entry__LMap-head {
  padding: 0 5px;
  margin : auto;
}

// https://www.w3.org/TR/CSS21/ui.html#propdef-cursor

#Entry__LMinimap-subhead {
  font-size: x-small;
  color    : #999;
  float    : right;
  margin   : 0 5px;
}

.Entry__LMap-footer {
  padding: 5px;
}

#Entry__Minimap-status {
  opacity  : 0;
  animation: fadeout 4s ease-out;
}

@keyframes fadeout {
  0% {
    opacity: 1
  }

  25% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
