<div class="lmap-container">
  <h2 class="Entry__LMap-head">Current Location<span id="Entry__LMinimap-subhead">(Reflects 'Where' field to the
      left)</span></h2>
  <div class="lmap-frame">
    <div id="map" (leafletMapReady)="onMapReady($event)" (click)="onMouseClick($event)"></div>
  </div>

  <!-- https://angular.io/api/common/DecimalPipe#digitsinfo -->
  <div class="Entry__LMap-footer">
    Latitude: <span class="strong">{{mouseLatLng.lat.toFixed(5)}}</span> Longitude:
    <span class="strong">{{mouseLatLng.lng.toFixed(5)}}</span> Zoom:
    <span class="strong">{{zoom}}</span>

    <div id="Entry__Minimap-status">Click map to copy coordinates</div>
  </div>

  <span class="small" id="Entry__LMinimap_debug">And meanwhile, back in the mini-map:
    lat: {{locationUpdated.lat}};
    lng:{{locationUpdated.lng}};
    addr:{{locationUpdated.address}}; {{locationUpdated.derivedFromAddress}}</span>
  <!--  -->
  <button (click)="forceMarker()" title="Force a marker to be displayed..." class="eButton" type="button">
    Force Marker
  </button>
</div>
