<!-- https://material.io/components/menus
 mdc-top-app-bar
 -->

<nav class="main-nav">
  <span title="RangerTrak" class="title">
    <a href="http://www.RangerTrak.org" title="http://RangerTrack.org" target="_blank">RangerTrak™
      <!--fa-icon [icon]="faMapMarkedAlt" class="fa-lg"></fa-icon
      https://en.wikipedia.org/wiki/Trademark
    -->
    </a>
  </span>

  <ul>
    <li>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Home</a>
    </li>
    <li><a [routerLink]="['/gmap']" routerLinkActive="active">Google</a></li>
    <li><a [routerLink]="['/lmap']" routerLinkActive="active">Leaflet</a></li>
    <li><a [routerLink]="['/reports']" routerLinkActive="active">Reports</a></li>
    <li><a [routerLink]="['/rangers']" routerLinkActive="active">Rangers</a></li>
    <li><a [routerLink]="['/settings']" routerLinkActive="active">Settings</a></li>
    <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
    <li><a [routerLink]="['/log']" routerLinkActive="active">Log</a></li>
    <li *ngIf="isNavigating" class="Navbar__progressBar">Loading... <span class="smaller"> (Please 'Refresh' the
        page.)</span>
      <mat-progress-bar mode="indeterminate">
      </mat-progress-bar>
    </li>
  </ul>


  <!--================================================-->
  <span class="rightAlign">

    <span *ngIf=isInstallable onclick="onInstallBtn()" class="installBtn"
      title="Installing uses almost no storage and provides off-line mapping and a quick way to return to RangerTrak!">
      <!-- button mat-button class="installMe">buggy button!</button-->
      &nbsp;
      <img src="../../assets/icons/install.png" height="18px" width="18px" alt="install icon" />
      <span> Install&nbsp;</span>
    </span>
    &nbsp;
    <a href=" https://github.com/EOCOnline/rangertrak" target="_blank"
      title="See ya at GitHub for issue reports & source code" class="git">
      <img src="../../assets/icons/GitHub-Mark-32px.png" id="gitLogo" /></a>

  </span>

  <form>
    <input type="search" placeholder="(Future) Search" />
    <button>Go</button>
    <!--button (click)="Search()" type="search" placeholder="(Future) Search"> (Future) Search</button-->
  </form>
</nav>
<!--  script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script -->
