.lmap-container {
  position     : block;
  // position: relative;
  top          : 0;
  left         : 0;
  right        : 0;
  bottom       : 0;
  margin       : 5vw; //120px;
  margin-top   : 5px;
  margin-bottom: 5px;
}

.lmap-frame {
  border: 2px solid black;
  height: 60vh; //100%;
}

#lmap {
  height: 60vh; //100%;
}

.strong {
  font-weight: bold;
}

#overview {
  //position: absolute;
  position: relative;
  float: right;
  left: 0px;
  height: 175px;
  width: 175px;
  bottom: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
