<h1>{{title}}</h1>
<h3>{{eventInfo}}</h3>
<!--  https://www.digitalocean.com/community/tutorials/angular-angular-and-leaflet -->

<!-- div id="mapLeafletPanel" onactivate="resetMap()">
  <p>Click zooms to cluster's bounds or shows coordinates, scroll wheel zooms & drag mouse to move.</p>
  <form id="mapLeafletEntry">
    <fieldset><legend>Filter</legend>
      <div Title="Only entries matching ALL the following filters will be displayed.">
        Team: <input id="teamFilterId" value="" size="8" autofocus>
        AND  Callsign: <input id="callFilterId" size="8" value="">
        AND  Within <input id="minuteFilterId" size="5" value="0">
        Minutes of <input id="baseTimeFilterId" size="15" value="">
      </div>
    </fieldset>
    <!- -  input id="submitButton" type="button" value="Filter Map" onclick="filterLeafletMap()";>
    <strong>← Click this button to recenter map & zoom to markers!</strong>
    <!-input type="reset" value="Reset Map" onclick="resetMapForm()"->
    </form>

    <br>

    <div id="bigLeafletMapId" style="width: 100%; height: 70vh;"></div-->

<!--div *ngIf="apiLoaded" | async-->

<div class="lmap-container">
  <div class="lmap-frame">
    <div id="lmap" leaflet (leafletMapReady)="onMapReady($event)">
      <!-- from https://blog.mestwin.net/leaflet-angular-marker-clustering/
    [leafletOptions]="mapOptions"
      Can't bind to 'leafletOptions' since it isn't a known property of 'div' [leafletMarkerCluster]="markerClusterData"
    --></div>
  </div>

  <!--div id="markerDiv" #markerDiv *ngFor="let marker of markers">
    </div-->
</div>
<div id="overview" id="overview" overview></div>

<!-- https://angular.io/api/common/DecimalPipe#digitsinfo -->
<div>
  Latitude: <span class="strong">{{mouseLatLng?.lat | number:'1.4-5'}}</span> Longitude:
  <span class="strong">{{mouseLatLng?.lng | number:'1.4-5'}}</span> Zoom:
  <span class="strong">{{zoom}}</span>
</div>

<!--
    <google-map id="map" width="100%" [center]="center" [zoom]="zoom" [options]="options"
      (mapClick)="addManualMarkerEvent($event)" (mapMousemove)="onMapMouseMove($event)" (mapRightclick)="addTrafficLayer()"
      (mapInitialized)="onMapInitialized($event)">

      <div id="markerDiv" #markerDiv *ngFor="let marker of markers">
      </div>

      <
        (mapClick)="openInfoWindow($event)"

          [position]="marker.position"
          [options]="marker.options"  >

      <map-circle [center]="circleCenter" [radius]="radius"></map-circle>

      <map-info-window>{{ infoContent }}</map-info-window>

    </google-map>

    <- https://angular.io/api/common/DecimalPipe#digitsinfo >
    <div>Latitude: <span class="strong">{{display?.lat | number:'1.4-5'}}</span>   Longitude: <span class="strong">{{display?.lng | number:'1.4-5'}}</span>
    </div>
  </div-->
<br />

<details>
  <summary>Instructions</summary>
  <ul>
    <li>This displays All Field Reports for All Rangers by default.</li>
    <li>
      FUTURE: IF a subset of Field Reports are selected on the Field Reports page, then
      ONLY those can be displayed here.
    </li>
  </ul>
  >
</details>
<br />
<h2>Future functionality</h2>
<ul>
  <li>Allow sorting/filtering: by time, callsign, team, etc.</li>
</ul>
