<pageHeader [parentTitle]="title" [pageDescription]="pageDescr">...</pageHeader>

<!--div *ngIf="apiLoaded" | async -->
<div>If the map isn't shown below, try refreshing the page -- or even switching to a different page & then back.</div>
<div class="lmap-container">
  <div class="lmap-frame">
    <div id="map" leaflet (leafletMapReady)="onMapReady($event)" (click)="onMouseClick($event)"></div>
  </div>
  <div>
    Latitude: <span class="strong">{{mouseLatLng.lat.toFixed(5)}}</span> Longitude:
    <span class="strong">{{mouseLatLng.lng.toFixed(5)}}</span> Zoom:
    <span class="strong">{{zoom}}</span>

    <div id="Lmap-status">Click map to copy coordinates</div>
  </div>
</div>
<div id="overview" overview></div>
<br />

<!--
  https://material.io/components/switches/web#switches
  https://material.io/components/switches/web#api -->
<label for="selectedFieldReports">[Broken:] Field reports to show: All ({{this.numAllRows}}) </label>

<button id="selectedFieldReports" class="mdc-switch mdc-switch--unselected" type="button" role="switch"
  aria-checked="false" (click)="onSwitchSelectedFieldReports()">
  <div class="mdc-switch__track"></div>
  <div class="mdc-switch__handle-track">
    <div class="mdc-switch__handle">
      <div class="mdc-switch__shadow">
        <div class="mdc-elevation-overlay"></div>
      </div>
      <div class="mdc-switch__ripple"></div>
      <div class="mdc-switch__icons">
        <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
          <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z" />
        </svg>
        <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
          <path d="M20 13H4v-2h16v2z" />
        </svg>
      </div>
    </div>
  </div>
</button>
<label for="selectedFieldReports">
  Just those ({{this.numSelectedRows}}) selected in the Field Report panel</label>

<br />
<details>
  <summary>Instructions</summary>
  <ul>
    <li>This displays All Field Reports for All Rangers, by default.</li>
    <li>
      If a subset of Field Reports are selected on the Field Reports page, then those
      {{this.numSelectedRows}} reports can be displayed, with the switch just above.
    </li>
    <li>Click on the main leaflet map to store the lat/long coordinates in the clipboard.
    </li>
  </ul>
</details>
