<pageHeader>...</pageHeader>

<!--div *ngIf="apiLoaded" | async
(leafletMouseM ove)="onMapMouseMove($event)"
-->

<div class="lmap-container">
  <div class="lmap-frame">
    <div id="lmap" leaflet (leafletMapReady)="onMapReady($event)"></div>
  </div>
</div>
<div id="overview" overview></div>
<div>
  Latitude: <span class="strong">{{mouseLatLng?.lat?.toFixed(5)}}</span> Longitude:
  <span class="strong">{{mouseLatLng?.lng?.toFixed(5)}}</span> Zoom:
  <span class="strong">{{zoom}}</span>
</div>

<br />

<details>
  <summary>Instructions</summary>
  <ul>
    <li>This displays All Field Reports for All Rangers by default.</li>
    <li>
      FUTURE: IF a subset of Field Reports are selected on the Field Reports page, then
      ONLY those can be displayed here.
    </li>
  </ul>
  >
</details>
