<!-- https://material.io/components/banners/web#banners -->
<div class="mdc-banner mdc-banner--centered mdc-banner--mobile-stacked" role="banner">
  <div class="mdc-banner__fixed">
    <div class="mdc-banner__content" role="alertdialog" aria-live="assertive">
      <div class="mdc-banner__graphic-text-wrapper">

        <!-- https://fonts.google.com/icons?selected=Material+Icons -->
        <div class="mdc-banner__graphic" role="img" alt=""><i class="material-icons mdc-banner__icon">emoji_people</i>
        </div>
        <div class="mdc-banner__text">
        </div>
      </div>
      <div class="mdc-banner__actions">
        <!--button type="button" class="mdc-button mdc-banner__secondary-action">
        <div class="mdc-button__ripple"></div>
        <div class="mdc-button__label">Learn more</div>
      </button-->
        <button type="button" class="mdc-button mdc-banner__primary-action">
          <div class="mdc-button__ripple"></div>
          <div class="mdc-button__label">Close</div>
        </button>
      </div>
    </div>
  </div>
</div>

<h1>Rangers</h1>

<details>
  <summary class="big">Instructions</summary>
  This list of participants was taken from the FCC Database in January 2022. <br />
  It has been significantly reformatted and your edits may alter it further.<br />
  To maintain these changes between browser sessions, we can write the following table to the Browser Local Storage
  where it will remain until deleted.<br />
  <ul>
    <li>The photos are not associated with the correct person currently. </li>
    <li>Some fields may be editable (single or double-click), and "Should" be savable to a CSV file.. Edits can be
      MANUALLY saved by selecting the "Save Data" button in the Advanced section below. </li>
    <li>Click on a column heading to sort by that field.</li>
    <li>Click & Drag on a column heading to move columns</li>
    <li>Hovering over a cell (e.g., any callsign) may show additional information. </li>
    <li>Icons at the top right of each column allows filtering on the value</li>
    <li>Save/load data grid to/from Excel. See https://ag-grid.com/javascript-data-grid/csv-export for details</li>
    <li>FUTURE: Import Excel button currently 'works', but imports wrong spreadsheet and does nothing with it!</li>
  </ul>
</details>
<br>

<div id="rangersgrid">
  <ag-grid-angular #rangerGrid rowAnimation pagination paginationAutoPageSize style="width: 100%; height: 600px;"
    (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" class="ag-theme-alpine" [rowData]="rangers"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [tooltipShowDelay]=500>
    <!--
          (gridReady)="onGridReady($event)" // See https://www.ag-grid.com/angular-data-grid/grid-interface/#access-the-grid--column-api-1

          [columns]="columns"
          [showToolPanel]="showToolPanel"
        -->
  </ag-grid-angular>
  <br />
  <!--button (click)="onBtPrinterFriendly()">Printer Friendly Layout</button>
      <button (click)="onBtNormal()">Normal Layout</button-->

  <div>
    <button (click)="onBtnExportToExcel()">Export Rangers</button> with column separator of
    <select (change)="onSeperatorChange()" id="columnSeparator">
      <option value="none">comma (,)</option>
      <option value="tab">tab</option>
      <option value="|">bar (|)</option>
    </select>
  </div>
  <br>
  <button (click)="onDeselectAll()">Clear Selection</button>
  <br>
  <details>
    <summary><span class="big" id="Advanced">Advanced</span></summary>

    If no rangers exist, or you would like to replace those shown above, either:
    <ol>
      <li>BEST: Use the "Add FAKE Rangers" button to import some usable rangers. Contact John with a better list to have
        these updated... Then REFRESH PAGE!</li>
      <li>
        FUTURE: Enter rangers into the grid</li>
      <li>Create src/app/shared/services/rangers.json file for auto import, or</li>
      <li>Future: import an excel file.</li>

    </ol>

    <p>This list of potential Rangers was taken from the FCC Database in January 2022. <br>
      It has been significantly reformatted and your edits may alter it further.
    </p>

    <hr>
    The next two options will *replace* any Rangers above with a new set from files:<br>
    1) Load Rangers from Excel - then refresh the page...
    <input type="file" (change)="onBtnImportExcel($event)" multiple="false" />
    <!--button (click)="onBtnReloadPage()" type="button">Reload Page</button-->

    <!--button (click)="onBtnImportExcel2()" style="margin-bottom: 5px">Import Rangers (CSV)</button-->
    <br>

    2) Import Rangers from a JSON file:
    <button (click)="onBtnImportJson($event)" style="margin-bottom: 5px" title="Import Rangers from JSON file">Import
      Rangers (JSON)</button><br>
    <br>

    <br>
    <p>To maintain these changes between browser sessions, we write the table
      above to the Browser Local Storage where it will remain until deleted. Use this "Save Data" button
      to save the current state of the grid above, so it will be restored the next time this web page
      is opened on this browser & device</p>
    Save Rangers to Local Storage:
    <button (click)="onBtnUpdateLocalStorage()" style="margin-bottom: 5px"
      title="Preserve the edits above to the Rangers stored on this browser">Save Rangers</button><br>

    <br>
    Delete ALL Rangers from Local Storage (then refresh page):
    <button (click)="onBtnDeleteRangers()">Delete Rangers</button><br>

    <div id="rangers__Fake">
      Add some FAKE/Hardcoded rangers to any existing rangers (then refresh page):
      <button (click)="generateFakeData()" type="button" id="enter__Fake--button">Add FAKE Rangers</button>
      <button (click)="onBtnReloadPage()" type="button">Reload Page</button>
    </div>
  </details>


  <br>
  <details>
    <summary><span class="big">Untested or likely to work!!!</span></summary>

    FUTURE: Import Excel button currently 'works', but imports wrong spreadsheet and does nothing with it!<br>
    // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile">

    <label for="avatar">Choose a png OR jpg only test:</label>
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">

    <!-- Events
      https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/input_event
      https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event
      https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement#properties_file
      <input placeholder="Enter some text" name="name"/>
      <p id="values"></p>
      const input = document.querySelector('input');
      const log = document.getElementById('values');
      input.addEventListener('input', updateValue);
      function updateValue(e) {
        log.textContent = e.target.value;
      }
    -->
    <hr>

    <br>
    <label for="myfile2">Select a file:</label>
    <input type="file2" id="myfile2" name="myfile2">



    <!-- Array<Array<any>> neatly maps to this table
         https://github.com/SheetJS/SheetJS/tree/master/demos/angular2/  -->
    excelData:
    <table class="sjs-table">
      <tr *ngFor="let row of excelData">
        <td *ngFor="let val of row">
          {{val}}
        </td>
      </tr>
    </table>


    <hr>
    <div id="ranger__ImportExcel--zzzzzz">
      FUTURE - attempt import of an Excel file:
      <input type="file" (change)="onFileChange($event)" multiple="false" />
      <button ion-button color="secondary" (click)="import()">Import Data</button>
      <button ion-button color="secondary" (click)="export()">Export Data</button>
      Code from <a href="http://sheetjs.com" target="_blank">http://sheetjs.com</a>, specifically
      <a href="https://oss.sheetjs.com/" target="_blank">https://oss.sheetjs.com/</a> &
      <a href="https://github.com/SheetJS/SheetJS.github.io/"
        target="_blank">https://github.com/SheetJS/SheetJS.github.io/</a>
    </div>
  </details>
</div>
