// https://www.ag-grid.com/angular-data-grid/themes-v23-migration/
//@ use "@material/banner";
//@ use "@material/banner/styles";
/*
with (
$primary: #fcb8ab,
  //$fill-color: yellow,
);*/

////@mixin fill-color {
//fill-color:green;
// }

.main {
  margin: 0 1em;
}

label {
  display: block;
  //font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.licenseImg {
  //border: 10px red dotted;
  //height: 60px;
  //width : 60px;

  border: 1px #a5a5a5 solid;
  height: 20px;
  width : 20px;

}

// https://github.com/ag-grid/ag-grid-customise-theme

.mdc-banner {
  //  @include fill-color(yellow);
  //@ include banner.fill-color(rgb(226, 226, 136));
  //@include banner.divider-color(aqua);
  //@ include banner.max-width(40%);
  //@include banner.level(0);
  //border       : 1px red solid;
  margin-left    : -1em;
  //width: 70em;
  //height: 15%;
  //margin-left: -150px;
  //padding      : -30px;
}

.big {
  font-size  : larger;
  font-weight: bold;
}

// from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip
// https://www.w3schools.com/howto/howto_css_tooltip.asp
.tooltip2 {
  position   : relative;
  display    : inline-block;
  // border  : 1px dotted black;
}

.tooltip2 .tooltiphtml {
  //visibility      : hidden;
  width              : 120px;
  background-color   : #555;
  color              : #fff;
  text-align         : center;
  border-radius      : 6px;
  padding            : 5px 0;
  position           : absolute;
  z-index            : 1;
  bottom             : 125%;
  left               : 50%;
  // margin-left     : -60px;
  opacity            : 0;
  transition         : opacity 0.5s;
}

.tooltip2 .tooltiphtml::after {
  content     : "";
  position    : absolute;
  top         : 100%;
  left        : 50%;
  margin-left : -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiphtml {
  visibility: visible;
  opacity   : 1;
}


.my-image {
  display: none;
}

/* ag-grid adds ag-row-hover class on row hover */
.ag-row-hover .my-image {
  display: initial;
}

// from https://www.ag-grid.com/javascript-data-grid/component-tooltip/
.custom-tooltip {
  width   : 150px;
  height  : 150px;
  border  : 2px solid cornflowerblue;
  overflow: hidden;
}

.custom-tooltip p {
  margin     : 5px;
  white-space: nowrap;
}

.custom-tooltip p:first-of-type {
  font-weight: bold;
}
