<rangertrak-disclosure summary="Instructions">
  <ul>
    <li>
      When starting a new event:
      <ul>
        <li>
          Remove leftover "Field Reports" from previous operational periods or
          exercises.
          <br />
          Do so at the bottom of the Field Reports page.
        </li>
        <li>
          Update the list of Rangers on the Rangers page. <br />
          (Minor updates and new rangers can be added throughout the event.)
        </li>
        <li>
          As soon as practical, either reset all settings (see Advanced Options below)
          -- <br />
          or just edit the following settings
        </li>
      </ul>
    </li>

    <li>
      Settings are (manually) saved to and automatically restored from this browser's
      local storage.
    </li>
    <li>
      Each browser on each device maintains its own Local Storage: they are not
      shared.
    </li>
    <li>
      If nothing has been saved, or the user selects "Reset Values", then hardcoded
      values are used.
    </li>
    <li>
      Browser local storage contents are viewable using a browser's developer tools:
      F12
    </li>
    <li>
      Change font size using CTRL+mouse wheel or your browser's view size settings.
    </li>
    <li>FUTURE: <div id="hatchRect">Circle Hatching from https://codepen.io/JohnsPen/pen/jOYvOOq ?</div>
    </li>
  </ul>
</rangertrak-disclosure>
