@use "@material/theme"
with (
  $primary: #962f10,
  $on-primary: #442C2E
);
@use "@material/button";
//@use "@material/button/styles";
@use "@material/banner";
@use "@material/banner/styles";
// https://material.io/components/buttons/web#api

.Alerts__Close {
  margin-bottom: 10px;  // as requested by Lighthouse...
  min-height: 50px;
}

.mdc-banner {
  //  @include fill-color(yellow);
  @include banner.fill-color(rgb(226, 226, 136));
  //@include banner.divider-color(aqua);
  @include banner.max-width(90%);

  //@include banner.level(0);
  //border       : 1px red solid;
  //margin-left: -1em;
  //width: 70em;
  //height: 15%;
  //margin-left: -150px;
  //padding      : -30px;
}
