body {
  font-family     : arial, helvetica, freesans, sans-serif;
  font-size       : 100%;
  color           : #333;
  background-color: #ddd;
}

h1 {
  font-size  : 1.5em;
  font-weight: normal;
  margin     : 0;
}

#log {
  height            : 70vh;
  font-family       : monospace;
  font-size         : 0.8em;
  line-height       : 12px;
  padding           : 2px 5px;
  //color           : rgb(57, 34, 161);
  background-color  : rgb(226, 238, 156);
  border            : 1px solid #030;
  border-radius     : 4px;
  overflow          : auto;
}

h3 {
  margin            : 0px 0px;
  //background-color: crimson;
}

.mat-checkbox {
  margin: 0px 10px;
}

.verbose {
  color    : rgb(66, 65, 65);
  font-size: 8px;
}

.Info {
  //font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 246, 39);
}

.info {
  //font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 246, 39);
}

.warn {
  color: orange;
}

.error {
  color: red
}

#tiny {
  font-size       : 10px;
  color           : crimson;
  background-color: cornflowerblue;
}

#tiny2 {
  font-size       : 8px;
  color           : rgb(82, 177, 241);
  background-color: rgb(74, 165, 90);
}

.tiny {
  font-size       : 10px;
  color           : crimson;
  background-color: cornflowerblue;
}
