<h1>Log</h1>

<pre id="log">Event information log</pre>
<div id="Log__Excel">
FUTURE - attempt import of an Excel file:
<input type="file" (change)="onFileChange($event)" multiple="false" />
<button ion-button color="secondary" (click)="import()">Import Data</button>
<button ion-button color="secondary" (click)="export()">Export Data</button>
Code from <a href="http://sheetjs.com" target="_blank">http://sheetjs.com</a>, specifically
<a href="https://oss.sheetjs.com/" target="_blank">https://oss.sheetjs.com/</a> &
<a href="https://github.com/SheetJS/SheetJS.github.io/" target="_blank">https://github.com/SheetJS/SheetJS.github.io/</a>
</div>
<!--
<ion-header>
  <ion-toolbar>
    <ion-title>SheetJS Ionic Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>SheetJS Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let row of data">
      <ion-col *ngFor="let val of row">
        {{val}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer padding>
  <input type="file" (change)="onFileChange($event)" multiple="false" />
  <button ion-button color="secondary" (click)="import()">Import Data</button>
  <button ion-button color="secondary" (click)="export()">Export Data</button>
</ion-footer>
-->
