<!-- https://nikitahl.com/horizontal-rule-css -->
<hr>
<div><span class="brand" [title]="versionTitle">RangerTrak™ ֍ Version {{version}}</span>
  <!-- E-55: was this component's own updateReady button, styled differently from the
       navbar's and Settings' install surfaces - see InstallUpdateComponent's doc comment. -->
  <rangertrak-install-update></rangertrak-install-update>
  <a href="https://eoc.online" target="_blank" class="copyLeft">©{{today | date: 'y'}} https://eoc.online - Open Source
    Tools for EOCs</a>
</div>
